.logomark {
	width: 100px;
	float: left;
	position: relative;
	
	a {
		display: block;
    	padding: 5px;
    	padding-right: 7px;
	}
	img {
		max-width: 100%;
	}
}

.banner {
    background-color: $primary;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 100;
    display: none;
    border-bottom: 2px solid $pos;
    font-size: $s9;
    .social-links {
    	float: right;
    }
    @include break($d) {
    	display: block;
    }
    .row {
    	padding-top: 0;
    	padding-bottom: 0; 
    }
    ul {
    	float: left;
    	border-left: 1px solid #fff;
    	margin-left: 8px;
    	li {
    		float: left;
    	
    	}
    }

}
    .banner li a {
    	display: block;
    	text-transform: uppercase;
        color: #fff;
        padding: 24px;
    }
    .banner a:hover {
        background-color: transparentize($neg, 0.6);
    }



.banner--clone {

    /* Required styles */
    position: fixed;
    top: 0;
    left: 0;



    /* Translate -100% to move off screen */
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    /* Animations */
    -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;

}

.banner--stick {

    /* Translate back to 0%; */
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
}