// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Transformicon Color:
$navicon-color: $primary;

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 

/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include break-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

h1 {
	text-transform: uppercase;
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-family: $serif;
	span {
		display: block;
	}
}

h2 {
	text-transform: uppercase;
	font-family: $serif;
}

.blue {
	h1 {
		color: $pos;
		border-bottom: 1px solid #e1e1de;
	}
	a {
		color: $pos;
		&:hover, &:active {
			color: darken($pos, 10%);
		}
	}
	p {
		line-height: $s4;
	}
}
.orange {
	color: $pos;
}
.cyan {
	color: $pos;
}
.white {
	h2 {
		color: $primary;
	}
	input, textarea {
		background-color: $body-color;
	}
}

// ------------------------------------------------------------
// Navigation module
// ------------------------------------------------------------

// Place your BEM/SMACSS style .scss modules in the modules folder

.pagehead {

	// background-color: transparentize($primary, 0.5);
	// position: absolute;
	background-color: $pos;
	width: 100%;
	z-index: 10;
	overflow: hidden;
	.row {
		@include break($d) {
			margin-bottom: 20px;
		}
	}
	.logo {
		display: block;
		position: absolute;
		margin: 12px 0 0;
		img {
			width: auto;
			height: 55px;
		}
		@include break($d) {
			width: 30%;
			img {
				height: auto;
				max-width: 300px;
			}
		}
	}

	#nav-toggle {
		float: right;
		margin: 0;
		padding-bottom: 23px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 0;
		margin-bottom: 12px;
		margin-top: 10px;
		@include break($d) {
			display: none;
		}
	}

	.nav-collapse {
		text-transform: uppercase;
		@include clearfix;
		background-color: lighten($grey, 20%);
		border-bottom: 1px solid $grey;
		clear: both;
		text-align: center;
		font-weight: lighter;
		//padding-bottom: 15px;
		margin-bottom: 15px;
		position: relative;
		@include break($d) {
			width: 89%;
			margin: 0;
			margin-top: 45px;
			padding: 0;
			clear: none;
			background-color: transparent;
			float: right;
			padding-bottom: 0;
			//height: 60px;
			// clear: both;
			// margin: 0 -500%;
	  		//padding: 0 500%;
		}
		ul {

			@include clearfix;
			margin: 0; // cancel out global ul li style
			@include break($d) {
				width: 100%;
				float: left;
				clear: none;
			}

			li {
				width: 45%;
				float: left;
				margin: 0;
				margin-left: 10px;
				list-style-type: none;

				a {

					@extend .sans;
					font-size: em-font(13px);
					display: inline-block;
					width: 100%;
					color: $neg;
					padding: 15px 5px;
					background-color: transparent;

					transition: background-color 0.2s ease-in-out;
					-moz-transition: background-color 0.2s ease-in-out;
					-webkit-transition: background-color 0.2s ease-in-out;
					img {
						margin-right: 4px;
						position: relative;
						top: 5px;
					}
					&:hover, &:active {
						color: $primary;
						@include break($d) {
							background-color: transparent;
						}
					}

				}
				@include break($d) {
					width: auto;
					float: right;
					a {
						padding: 30px 5px 5px;
					}
				}
			}
		}
	}
}

.editable-gallery {
	.fancybox {
		width: 40%;
		@include break($c) {width: 20%;}
		margin-bottom: 10px;
	}
	a {
		display: inline-block;
		img {
			max-width: 100%;
		}
		@include break($c) {

		}
	}
}

.typeset {

	ul, ol {
		margin-left: 15px;
	}

	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 15px;
		@include break($b) {
			margin: 0 0 30px 0;
			clear: both;
			width: 100%;
		}
	}
	.full-width {
		margin: 0 0 30px 0;
		clear: both;
		width: 100%;
	}
	.right {

		@include break($b) {
			float: right;
			margin: 0 0 15px 30px;
			width: 40%;
		}
	}
	.left {
		@include break($b) {
			float: left;
			margin: 0 30px 15px 0;
			width: 40%;
		}
	}

	blockquote {
		padding: 5%;
		clear: both;
		background-color: $secondary;
		color: $pos;
		@include break($b) {
			clear: none;
			float: right;
		}
		p {
			&:before {
				content: "“ ";
			}
			&:after {
				content: " ”";	
			}
		}
		i {
			font-size: em-font(10px);
		}
	}
}
////////////
// LAYOUT //
////////////

.padded {
	padding: 15px;
	margin-bottom: 10px;
	@include break($d) {
		padding: 25px;
		margin-bottom: 15px;
	}
}

.social-links {
	li {
		float: left;
		margin-right: 10px;
		a {
			display: block;
			border-radius: 100px;
			&:hover {
				background-color: lighten($primary, 25%);
			}
			img {
				width: 20px;
				margin-bottom: -4px;
			}
		}
	}
}

.row.typeset {
	padding-top: 20px;
	padding-bottom: 20px;
}

.hero {
	color: $pos;
	font-family: $serif;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	width: 92%;
	top: 40px;
	h1 {
		text-transform: uppercase;
		padding: 0;
		font-size: $s10;
		margin: 0 0 5px;
	}
	small {
		font-size: $s9;
	}
	@include break($a) {
		top: 40px;
		h1 {
			font-size: $s9;
		}
		small {
			font-size: $s8;
		}
	}
	@include break($b) {
		top: 80px;
		h1 {
			font-size: $s8;
		}
		small {
			font-size: $s7;
		}
	}
	@include break($c) {
		top: 80px;
		h1 {
			font-size: $s5;
		}
		small {
			font-size: $s7;
		}
	}
	@include break($d) {
		top: 130px;
		h1 {
			font-size: $s1;
		}
		small {
			font-size: $s6;
		}
	}
}

.typeset ul.acc {
	margin-left: 0;
	li {
		background-color: lighten($secondary, 15%);
	}
}

.acc li {
	list-style-type: none;
}

.acc li .acc-head {
	cursor: pointer;
	position: relative;
	padding: 20px;
}

.acc li .acc-head i {
	position: absolute;
	top: 22px;
	right: 15px;
}

.acc-panel {
	padding: 0px 20px 10px;
}

.pagefoot {
	//background-color: $secondary;
	//margin-top: 50px;
	padding: 5px 0 15px;
	font-size: $s10;
	color: $grey;
	text-align: left;
}

.fancybox {
  img {
  	width: 100%;
  }
}

.fancybox.large { width: 43%; }


.row {
	
}

.row2 {
	margin-bottom: 5px;
	@include break($d) {margin-bottom: 10px;}
}

.row3 {
	.as-grid .padded {
		@include break($d) {min-height: 349px;}
	}
}

.row5 {
	.as-grid .padded {
		@include break($d) {min-height: 535px;}
	}	
}

.row6 {
	.as-grid .padded, .as-grid .bigtype {
		@include break($d) {min-height: 330px;}
	}
}

.row7 {
	.as-grid .padded {
		@include break($d) {min-height: 370px;}
	}
}

.bigtype {
	padding: 10px;
	margin-bottom: 30px;
	span {
		display: inline-block;
		clear: both;
		text-transform: uppercase;
		color: $primary;
		font-family: $serif;
		font-size: 40px;
		line-height: 55px;
		@include break($a) {
			font-size: 45px;
			line-height: 55px;
		}
		@include break($b) {
			font-size: 45px;
			line-height: 60px;	
		}
		@include break($d) {
			font-size: 60px;
			line-height: 75px;
		}
		&.underline {
			padding-bottom: 10px;
			border-bottom: 10px solid $primary;
		}
	}
}

.contact-details {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
	.serif {
		font-size: $s5;
		a {
			color: $pos;
			&:hover, &:active {
				text-decoration: underline;
			}
		}
	}
}

.formblock {
	textarea {
		min-height: 86px;

	}
}

input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input#submit {
	float: right;
	text-transform: uppercase;
	padding: 8px 30px;
	font-size: $s10;
}

.cool-stuff {
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	li {
		list-style-type: none;
		margin-bottom: 15px !important;
		clear: both;
		&:last-of-type {
			margin-bottom: 0px !important;
		}
		@include break($d) {
			width: 87%;
		}
		figure {
			background-color: $pos;
			border-radius: 100px;
			height: 35px;
			width: 35px;
			margin-top: 10px;
			margin-left: 10px;
			margin-bottom: 10px;
			float: right;
			img {
				&.eyeglass {
					width: 20px;
					margin-top: 7px;
					margin-left: 7px;
				}
				&.group {
					width: 24px;
					margin-top: 9px;
					margin-left: 6px;
				}
				&.check {
					width: 20px;
					margin-top: 11px;
					margin-left: 8px;
				}
			}
			@include break($d) {
				float: left;
				height: 55px;
				width: 55px;
				margin-right: 25px;
				margin-bottom: 30px;
				margin-top: 0;
				margin-left: 0;
				img {
					&.eyeglass {
						width: 30px;
						margin: 12px;
					}
					&.group {
						width: 35px;
						margin-top: 16px;
						margin-left: 11px;
					}
					&.check {
						width: 30px;
						margin-top: 17px;
						margin-left: 14px;
					}
				}
			}
		}
	}
}

#testimony {
	color: #9d9d9b;
	text-align: center;
	padding: 10px 0;
	blockquote {
		font-size: $s4;
		font-style: italic;
		font-family: $serif;
		margin-bottom: 15px;
		font-weight: lighter;
	}
	p {
		font-size: $s9;
		text-transform: uppercase;
	}
}

.features {
	a {
		color: $pos;
	}
	.padded {
		figure {
			width: 100px;
			margin: 0 auto 10px;
			img {
				width: 100%;
				margin: 0;
			}
			@include break($d) {
				width: 160px;
				margin: 0 auto 25px;
			}
		}
		h3 {
			text-align: center;
			font-family: $serif;
		}
		ul {
			list-style-image: url('../img/dash.png') !important;
			li {
			
			}
		}
	}
}

.corner-codes {
	background-image: url(../img/getcodes.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.map {
	display: none;
	.header {
		margin-bottom: 25px;
	}
	a {
		text-decoration: underline;
	}
	h1 {
		border-bottom-width: 0;
		font-size: $s4;
		padding: 0;
	}
	h5 {
		font-size: $s8;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.themap {
		display: none;
		@include break($d) {
			display: block;
		}
	}
	select {
		width: 100%;
		margin-bottom: 10px;
		font-size: $s9;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		background-color: $pos;
		color: $neg;
		padding: 8px 11px;
		background-image: url(../img/form-arrow.png);
		background-position: right 10px center;
		background-repeat: no-repeat;
		&:focus {
			outline: 1px solid $primary;
		}
		@include break($d) {
			width: 150px;
			padding: 0;
			background-position: right center;
		}
	}
	option {
		padding: 2px 12px;
		&:checked {background-color: $cyan;}
	}
	#map_search {
		select {
			@include break($d) {
				background-image: none;
			}
		}
	}
	input[type="submit"] {
		background-color: $cyan;
		color: $pos;
		text-transform: uppercase;
		padding: 8px 30px;
		font-size: $s10;
		letter-spacing: 1px;
		margin-top: 5px;
	}
	.questions {
		border-top: 1px solid #ccc;
		margin-top: 25px;
		padding-top: 25px;
		padding-bottom: 5px;
		text-align: center;
		span {
			display: block;
			clear: both;
			@include break($d) {
				display: inline;
				clear: none;
			}
		}
	}

	.closer {
		position: absolute;
		top: 20px;
		right: 70px;
		font-weight: lighter;
		font-size: $s4;
		cursor: pointer;
	}

	.topic-search {
		float: right;
		margin-top: 38px;
	}	
	.topic-selector {
		float: left;
		width: 100%;
		@include break($d) {
			width: auto;
		}
	}
	.topic-select {
		margin-right: 10px;
		p {
			font-family: $serif;
			font-style: italic;
			font-size: $s9;
		}
		input {
			margin-bottom: 5px;
			min-width: 270px;
		}
	}
	.state-select {
		margin-right: 10px;
		select {
			background-color: $pos;
			border-radius: 0;
			border-width: 0;
			-webkit-appearance: none;
			-moz-appearance:none;
			-webkit-border-radius: 0;
			padding: 10px;
			width: 100%;
			// background-image: url(../img/form-arrow.png);
			// background-position: right center;
			// background-repeat: no-repeat;
			&:focus {
				outline: 1px solid $primary;
			}
			@include break($d) {
				width: auto;
				min-width: 130px;
			}
		}
		input {
			margin-bottom: 3px !important;
			background-color: $pos !important;
		}
	}
	.select-submit {
		margin-top: 10px;
		input {
			padding-top: 11px;
			padding-bottom: 11px;
		}
		@include break($d) {
			margin-top: 37px;	
		}
	}
}

.active, .inactive {
	transition: .5s fill;
	fill: #d9d8d3;
}
.inactive {
	fill: #6b7280;
	stroke: $blue;
	stroke-width: 0.3px;
}
.active {
	stroke: white;
	stroke-width: 0.9px;
	&:hover {
		cursor: pointer;
		fill: $cyan;
		stroke: $cyan;
	}
}

/*** Works on common browsers ***/
::selection {
    background-color: $pos;
    color: $neg;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: $pos;
    color: $neg;
}
 
/***For Other Browsers ***/
::-o-selection {
    background-color: $pos;
    color: $neg;
}

::-ms-selection {
    background-color: $pos;
    color: $neg;
}
 
/*** For Webkit ***/
::-webkit-selection {
    background-color: $pos;
    color: $neg;
}


/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
